.header {
    background-color: rgb(177, 177, 177);
    font-size: 28px;
    text-align: center;
    padding: 20px 20px;
    font-weight: bold;
}

.nav {
    background-color: rgb(231, 233, 230);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.article {
    background-color: rgb(177, 177, 177);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

h1 {
    padding: 20px 0px;
    text-align: center;
    text-decoration: underline;
}    

.curiosity-1 {
    background-color: rgb(231, 233, 230);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    margin: 5px 5px;
    font-size: 20px;
    width: 65%;
    padding: 0 10px;
}

.description {
    background-color: rgb(231, 233, 230);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    margin: 5px 5px;
    font-size: 20px;
    width: 65%;
    padding: 0 10px;
}

.aside {
    position: absolute;
    background-color: rgb(231, 233, 230);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    top: 50%;
    left: 75%;
    font-size: 17px;
    padding: 30px 20px;
    margin: 1px solid black;
}

.video {
    padding: 0 20px;
    font-size: 20px;
}

.references {
    padding: 0 20px;
}

.references span{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.references a {
    display: block;
    line-height: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}