body {
  height: 100vh;
}

input {
  margin: 5px;
}

label {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#ap-casa {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}

button {
  width: 100%;
  height: 30px;
  margin: 5px;
}