body {
  background-color: lightyellow;
}

.pokemons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.eachPoke {
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 300px;
  border-radius: 10%;
  font-size: 1.1rem;
}

img {
  padding: 10px;
}