/* div:hover {
    border: 2px solid black;
}

div:nth-last-child(6) {
    background-color: blue;
}

div:nth-last-child(5) {
    background-color: green;
}

div:nth-last-child(4) {
    background-color: yellow;
}

div:nth-last-child(3) {
    background-color: gray;
}

div:nth-last-child(2) {
    background-color: lightcyan;
} */

